<div id="content" class="search-view">
    <sa-big-breadcrumbs [items]="['Comprobantes Electrónicos']" icon="group"></sa-big-breadcrumbs>


    <sa-widgets-grid>

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12">

                <sa-widget style="position: absolute;" [colorbutton]="false" [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false"
                           [sortable]="false" [deletebutton]="false">

                    <div class="widget-body">
                        <fieldset>
                            <legend>Comprobantes Electrónicos</legend>

                            <div class="col-md-8">
                                <div class="smart-form">
                                    <div class="row">
                                        <section class="col col-md-6">
                                            <label>Numero y Serie</label>
                                            <label class="input">
                                                <input type="text" [(ngModel)]="consultaComprobanteInterna.serieYNumero">
                                            </label>
                                        </section>
                                        <section class="col col-md-6">
                                            <label>Tipo Documento</label>
                                            <label class="input">
                                                <p-dropdown [options]="tipoDocumentos" [(ngModel)]="consultaComprobanteInterna.tipoDocumento"></p-dropdown>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-md-6">
                                            <label>Fecha Inicio</label>
                                            <label class="input">
                                                <p-calendar [(ngModel)]="consultaComprobanteInterna.fechaDesde"></p-calendar>
                                            </label>
                                        </section>
                                        <section class="col col-md-6">
                                            <label>Fecha Fin</label>
                                            <label class="input">
                                                <p-calendar [(ngModel)]="consultaComprobanteInterna.fechaHasta"></p-calendar>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-md-6">
                                            <label>Ruc</label>
                                            <label class="input">
                                                <input type="text" [(ngModel)]="consultaComprobanteInterna.ruc">
                                            </label>
                                        </section>

                                        <section class="col col-md-6" >
                                            <label>Razon Social</label>
                                            <label class="input">
                                                <input type="text" [(ngModel)]="consultaComprobanteInterna.razonSocial">
                                            </label>
                                        </section>

                                    </div>



                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="padding-bottom-10 text-right">
                                <button (click)="consultar()" class="btn btn-default">
                                    Consultar
                                </button>

                            </div>
                        </fieldset>


                        <fieldset>


                            <p-table [value]="cabeceras" [responsive]="true" [paginator]="true" [rows]="10">

                                <ng-template pTemplate="header">

                                    <tr>
                                        <th>Fecha Emision</th>
                                        <th>Tipo Documento</th>
                                        <th>Numero Documento</th>
                                        <th>Cliente</th>
                                        <th>SubTotal</th>
                                        <th>IGV</th>
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Recepcion</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-cabecera>

                                    <tr>
                                        <th>{{cabecera.docuFecha}}</th>
                                        <th>{{cabecera.docuTipodocumento}}</th>
                                        <th>{{cabecera.docuNumero}}</th>
                                        <th>{{cabecera.clieNumero}}</th>
                                        <th>{{cabecera.docuSubtotal}}</th>
                                        <th>{{cabecera.docuIgv}}</th>
                                        <th>{{cabecera.docuTotal}}</th>
                                        <th>{{cabecera.docuProceStatus}}</th>
                                        <th>{{cabecera.docuProceFecha}}</th>
                                    </tr>

                                </ng-template>


                            </p-table>

                        </fieldset>



                    </div>
                </sa-widget>

            </article>
            <!-- END COL -->

        </div>


    </sa-widgets-grid>
</div>
